* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body, html {
	background-color: #2C2C29;
	height: 0px;
}

h1 {
	color: floralwhite;
	transform: translateY(50%);
}

.input-group {
	color: floralwhite;
	transform: translateY(50px);
}

#btn {
	transform: translateY(200px);
}

#listing {
	font-size: 15px;
	color: floralwhite;
	transform: translateY(100px);
}


